/.Rproj.user/
.Rhistory
.DS_Store
*/.DS_Store
.RData
rsconnect/*
.Rproj.user

# Ignore DB credentials
config.yml
.env

# Other project files
google-analytics.html
/.local
/.idea/
/.config

/.bash_history
